/* --------------- List of user --------------- */
.list-of-user {
    width: 100%;
    margin-left: 12px;
    margin-top: 12px;
}

.list-of-user__table table {
    width: 100%;
    border-collapse: collapse;
}
table thead tr {
    border: 1px solid black;
}
table thead th {
    border: 1px solid black;
    cursor: pointer;
}
table thead .user-info__status {
    width: 60px;
}
table thead .user-info__signed-in {
    width: 60px;
}
table thead .user-info__num {
    width: 60px;
}
th,td {
    padding: 15px;
}
table tbody tr:nth-child(odd) {
    background-color: aliceblue;
}
.list-of-user__table tr.warn {
    background-color: rgba(255,153,102, 0.6);
}
.list-of-user__table tr.error {
    background-color: rgba(255,51,51, 0.6);
}
.col__actions {
    display: flex;
    flex-direction: column;
    border: none;
    background-color: none;
    padding: 0;
    margin: 2px;
}
.col__actions button {
    border: none;
    padding: 4px 4px;
    border-radius: 50px;
    margin: 2px;
    cursor: pointer;
}
.col__actions .actions__open {

}
.col__actions button img {
    width: 14px;
    height: 14px;
}

/* --------------- Create a new user --------------- */
.create-new-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 28px auto;
    background-color: aliceblue;
    border-radius: 12px;
    width: 600px;
}
.create-user__item {
    display: flex;   
    flex-direction: column;
    width: 100%;
    padding: 0 28px;
    margin: 8px 0;
}
.create-user__title {
    margin: 40px 0;
    text-align: center;
}
.create-user__label {
    text-transform: capitalize;
    margin-bottom: 4px;
}
.create-user__input {
    margin-left: 8px;
    padding: 8px 0 8px 12px;
    font-size: 16px;
    border-radius: 50px;
    border: 1px solid #ccc;
}

.create-user__uid-label {}
.create-user__username-label {}
.create-user__password-label {}
.create-user__email-label {}
.create-user__phonenumber-label {}
.create-user__twofa-label {}

.create-user__uid-input {}
.create-user__username-input {}
.create-user__password-input {}
.create-user__email-input {}
.create-user__phonenumber-input {}
.create-user__twofa-input {}

.create-user__actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 12px; */
}
.create-user__action {}
.create-user__action__save {
    width: 80px;
    padding: 8px 0;
    border-radius: 50px;
    background-color: rgba(163, 235, 177, 1);
}
.create-user__action__save:hover {
    background-color: rgba(163, 235, 177, 0.6);
}